
  
  <nav class="nav-extended navbar-fixed blue-grey darken-4">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"><%= menuId %></a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons menu">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/home">Home</a></li>
        <li><a href="/myaccount">My account</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>

  </nav>
  <div class="nav-content-bas" >
    <ul class="tabs tabs-transparent" >
      <li class="tab"><a <% if (menuId === 'Info') { %>class="active" <% } %> href="/info/<%= tournament._id%>" target="_self"><span class="material-icons">
        info
        </span></a></li>
      <li class="tab"><a <% if (menuId === 'Schedule') { %>class="active" <%} %> href="/schedule/<%= tournament._id%>" target="_self"><span class="material-icons">
        insert_invitation
        </span></a></li>
      <li class="tab"><a <% if (menuId === 'Now') { %>class="active" <%} %> href="/now/<%= tournament._id%>" target="_self"><span class="material-icons">
        sports
        </span></a></li>
      <li class="tab"><a <% if (menuId === 'Ranking') { %>class="active" <%} %> href="/ranking/<%= tournament._id%>" target="_self"><span class="material-icons">
        emoji_events
        </span></a></li>
    </ul>
  </div>



<ul class="sidenav" id="mobile-demo">
    <li><a href="/home">Home</a></li>
    <li><a href="/myaccount">My account</a></li>
    <li><a href="/logout">Logout</a></li>
</ul>
