
<%- include('../template/head')-%>
<%- include('../template/nav')-%>

<div class="content">
    <div class="row">
        <% tournaments.forEach((tournament) => { %>
        <div class="col s12">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="images/volley.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator blue-grey-text text-lighten-5"><%= tournament.name %><i class="material-icons right">more_vert</i></span>

                </div>
                <div class="card-reveal">
                    <span class="card-title  blue-grey-text text-lighten-5"><%= tournament.name %><i class="material-icons right">close</i></span>
                    <p class="blue-grey-text text-lighten-6">Date : <%= tournament.date %></p>
                    <p class="blue-grey-text text-lighten-6">Address : <%= tournament.address.address %> <%= tournament.address.city %> <%= tournament.address.code %></p>
                    <p class="blue-grey-text text-lighten-6">Weather : Cloudy</p>
                    <% if (userInfo.status == "admin") { %> 
                        <a href="api/tournament/delete/<%= tournament._id %>" class="btn halfway-fab waves-effect waves-light yellow darken-3"><i class="material-icons icon-grey">edit</i></a>
                        <a href="api/tournament/delete/<%= tournament._id %>" class="btn halfway-fab waves-effect waves-light yellow darken-3"><i class="material-icons icon-grey">delete</i></a>
                        <% }; %>
                    <a href="/info" class="btn halfway-fab waves-effect waves-light yellow darken-3"><i class="material-icons icon-grey">add</i></a>
                    <p ></p>
                </div>
            </div>
        </div>
        <% }); %>

        <% if (userInfo.status == "admin") { %> 
            <a href="/addtournament" class="btn-floating halfway-fab waves-effect waves-light yellow darken-3"><i class="material-icons icon-grey">add</i></a>
            <% }; %>
</div>




<%- include('../template/footer')-%>
